/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: #f5f5f5;
    overflow-x: hidden;
    position: relative;
}

/* Achtergrond blur */

.blur {
    position: fixed;
    border-radius: 50%;
    filter: blur(110px);
    z-index: -1;
}

.blur-top-left {
    width: 350px;
    height: 350px;
    background: #b000b5;
    top: -100px;
    left: -100px;
}

.blur-right {
    width: 420px;
    height: 420px;
    background: #ff00a6;
    right: -200px;
    top: 250px;
}

.blur-bottom-left {
    width: 350px;
    height: 350px;
    background: #ff4040;
    left: -100px;
    bottom: -100px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 80px;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-size: 1.3rem;
}

.nav-links a:hover {
    color: black;
}

/* Hamburger */

.hamburger {
    display: none;
    font-size: 2.2rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    padding: 40px;
}

.hero-content {
    max-width: 850px;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.hero-content p {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 70px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 18px 35px;
    border-radius: 18px;

    background: linear-gradient(
        to bottom,
        #c83fff,
        #8f22c9
    );

    border: 2px solid #262626;

    font-size: 1.2rem;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-4px);
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 1024px) {

    .navbar {
        padding: 35px;
    }

    .hero-content {
        max-width: 700px;
    }

    .hero-content h2 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.15rem;
    }

    .buttons {
        gap: 40px;
    }

}

/* ========================= */
/* GSM */
/* ========================= */

@media (max-width: 768px) {

    .navbar {
        padding: 25px;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    .mobile-menu.active {
        display: flex;
    }
       .mobile-menu a {
        display: block;
        padding: 20px;
        margin: 4px 0; /* witruimte tussen de knoppen */
        background-color: #8f22c9;
        border-color: 2px solid black;
        border-radius: 8px;
        text-decoration: none;
        color: white;
        }

    .hero {
        align-items: flex-start;
        padding-top: 60px;
    }

    .hero-content h2 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1.1rem;
        line-height: 1.6;
        text-align: left;
    }
    .projects {
flex-direction: column;
align-items: center;
gap: 100px;
}

.project-card img {
width: 100%;
max-width: 320px;
height: auto;
align-items: center;
}
.btn {
width: 100%;
max-width: 320px;
text-align: center;
}

    .buttons {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}

/* =========================
   PROJECTEN PAGINA
========================= */

.projects {

    max-width: 1400px;
    margin: auto;

    padding: 120px 60px;

    display: flex;
    justify-content: center;
    gap: 50px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-card img {
width: 100%;
max-width: 320px;
height: auto;
margin-bottom: 25px;
}
.project-card h3,
.project-card p,
.project-title {
text-align: center;
margin-top: 20px;
}

.btn {

    background: linear-gradient(
        to bottom,
        #bf46ff,
        #8220b7
    );

    color: white;
    text-decoration: none;
    align-items: center;
    padding: 18px 35px;
    border-radius: 18px;
    border: 2px solid #262626;
    font-size: 1.2rem;
    transition: 0.3s;
}
.project-card p{
    display: flex;
    align-items: center;
}
.btn:hover {
    transform: translateY(-4px);
}

/* =========================
   FOOTER
========================= */

footer {
    background: #6100A8;
    margin-top: 100px;
}

.footer-container {

    max-width: 1400px;

    margin: auto;

    padding: 120px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container a {
text-decoration: none;
    color: white;

    font-size: 5rem;
    font-weight: 600;
}

.footer-links {

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#f2f2f2;
    min-height:100vh;
    overflow-x:hidden;
    position:relative;
}

/* BLURS */

.blur{
    position:fixed;
    border-radius:50%;
    filter:blur(120px);
    z-index:-1;
}

.blur-top-left{
    width:300px;
    height:300px;
    background:#a500ff;
    top:-100px;
    left:-100px;
}

.blur-right{
    width:350px;
    height:350px;
    background:#ff1493;
    right:-150px;
    top:200px;
}

.blur-bottom-left{
    width:300px;
    height:300px;
    background:#ff0055;
    bottom:-100px;
    left:-100px;
}

.blur-bottom-right{
    width:250px;
    height:250px;
    background:#9c1eff;
    right:-80px;
    bottom:80px;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px 80px;
}

.logo{
    font-size:2rem;
    font-weight:600;
}

.nav-links{
    display:flex;
    gap:60px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#444;
    font-size:1.3rem;
}

.nav-links a:hover{
    color:black;
}

/* ABOUT */

.about{
max-width:1200px;
margin:1px auto;
padding:100px 40px;
}

.about-container{
flex-direction:column;
align-items:center;
}

.about-text{
    flex:2;
    max-width:750px;
}

.about-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.about-image img{
    width:100%;
    max-width:300px;
    border-radius:10px;
}

.about-text h2{
margin-bottom:30px;
font-size:2.5rem;
}
.about-text p{
margin-bottom:20px;
line-height:1.8;
}
.button-container{
text-align:center;
margin-top:80px;
}

/* BUTTON */

.button-container{
    text-align:center;
    margin-top:100px;
}

.btn{
    display:inline-block;
    text-decoration:none;
    color:white;
    padding:20px 40px;
    border-radius:18px;
    background:linear-gradient(
        to bottom,
        #c93eff,
        #7d1fb5
    );
    border:2px solid #222;
    font-size:1.4rem;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-4px);
}

@media (max-width:1024px){

    .navbar{
        padding:35px;
    }

    .about-container{
        flex-direction:column;
        align-items:center;
    }

    .about-content{
        max-width:700px;
    }

    .about-content h2{
        font-size:2.6rem;
    }

    .about-content p{
        font-size:1.2rem;
    }
.about-container{
flex-direction:column;
text-align:left;
gap:50px;
}
.about-image img{
max-width:280px;
}
}

@media (max-width:768px){
    .projects {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
padding: 60px 20px;
gap: 80px;
}
.about{
padding:60px 20px;
}
.about-container{
flex-direction:column;
gap:40px;
}
.about-text h2{
font-size:2rem;
}
.project-card {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

    .navbar{
        padding:25px;
    }

    .nav-links{
        display:none;
    }

    .hamburger{
        display:block;
    }

    .about-content{
        padding:80px 25px;
    }

    .about-content h2{
        font-size:2.3rem;
        margin-bottom:40px;
    }

    .about-content p{
        font-size:1rem;
        line-height:1.45;
        text-align:justify;
    }

    .btn{

        width:100%;
        text-align:center;
        max-width:320px;
        font-size:1rem;
        padding:18px;
    }

    .footer-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
gap: 50px;
padding: 80px 20px;
}
.footer-container h2 {
font-size: 4rem;
line-height: 1;
}
}


/* =========================
   Wallpaper wedstrijd PAGINA
========================= */
.process-wrapper{
    display:flex;
    align-items:center;
    gap:80px;
}

.process-content{
    flex:1;
}

.process-image{
    flex-shrink:0;
}

.process-image img{
    width:120px;
    height:auto;
}
.case-study{
    max-width:1100px;
    margin:auto;
    padding:80px 40px 120px;
}

.case-study h1{
    text-align:center;
    margin-bottom:60px;
    font-size:2.5rem;
}

.case-study section{
    margin-bottom:80px;
}

.case-study h2{
    margin-bottom:20px;
    font-size:1.5rem;
}

.case-study p{
    line-height:1.8;
    margin-bottom:15px;
}

.case-study ul{
    padding-left:25px;
    line-height:1.8;
}

.small-image {
    display: block;
    width: 300px;
    margin: 40px auto;
}

.result-image {
    display: block;
    width: 50%;
    max-width: 500px;
    margin: 40px auto;
}

.process-section{
    position:relative;
}
.result-image{
    display:block;
    margin:50px auto;

    width:100%;
    max-width:1000px;
    height:auto;
}
@media(max-width:1024px){

    .process-wrapper{
        flex-direction:column;
        align-items:flex-start;
    }
    .process-image{
        align-self:center;
    }
    .process-image img{
        width:90px;
    }
    .case-study{
        max-width:800px;
        padding:60px 35px;
    }
    .case-study h1{
        font-size:2rem;
    }
    .small-image{
        width:250px;
    }
}
@media(max-width:768px){

    .case-study{
    padding:40px 25px 80px;
    }

    .case-study h1{

        font-size:1.6rem;
        text-align:left;
        margin-bottom:50px;
    }

    .case-study h2{
   font-size:1.2rem;
    }

    .case-study p{

        font-size:0.95rem;
        line-height:1.6;
    }

    .case-study ul{

        font-size:0.95rem;
    }

    .small-image{
     width:100%;
        max-width:250px;
    }

    .result-image{

        width:80%;
    }

}
/* =====================
   CASE STUDY PAGINA lumiere app
===================== */

.case-study{
    max-width:1200px;
    margin:0 auto;
    padding:80px 40px;
}

.case-study h1{
    text-align:center;
    font-size:3rem;
    margin-bottom:120px;
}

.case-study section{
    max-width:900px;
    margin:0 auto 140px auto;
}

.case-study h2{
    font-size:1.7rem;
    margin-bottom:25px;
}

.case-study h3{
    margin-bottom:15px;
}

.case-study p{
    line-height:1.8;
}

.case-study ul{
    padding-left:25px;
    line-height:1.8;
}

/* =====================
   EERSTE SCHERMEN
===================== */

.gallery-three{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    justify-items:center;
    align-items:center;
    margin-top:50px;
}

.gallery-three img{
    width:100%;
    max-width:240px;
}

/* =====================
   RESEARCH
===================== */

.research-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    margin-top:40px;
}

.research-card{
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

/* =====================
   WIREFRAMES
===================== */

.wireframe-container{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

.wireframe-container img{
    width:100%;
    max-width:1100px;
    border-radius:10px;
}

/* =====================
   HIGH FIDELITY
===================== */

.gallery-four{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:35px;
    margin-top:50px;
}

.gallery-four img{
    width:100%;
    border-radius:10px;
    transition:.3s;
}

.gallery-four img:hover{
    transform:scale(1.04);
}

/* =====================
   BLURS lumiere
===================== */

.blur{
    position:absolute;
    border-radius:50%;
    filter:blur(90px);
    z-index:-1;
}

.blur1{
    width:180px;
    height:180px;
    background:#9d00ff;
    top:150px;
    right:50px;
}

.blur2{
    width:150px;
    height:150px;
    background:#e6b300;
    top:900px;
    left:50px;
}

.blur3{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:1700px;
    right:40px;
}

.blur4{
    width:160px;
    height:160px;
    background:#ff00aa;
    top:2500px;
    left:50px;
}

.blur5{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:3300px;
    right:50px;
}
.blur6{
    width:180px;
    height:180px;
    background:#ff2d88;
    top:4000px;
    left:50px;
}
.blur7{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:4700px;
    right:50px;
}
.blur8{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:5500px;
    left:50px;
}
.blur9{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:6200px;
    right:50px;
}
.blur10{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:6900px;
    left:50px;
}
.blur11{
    width:180px;
    height:180px;
    background:#f50645;
    top:7600px;
    right:50px;
}
.blur12{
    width:180px;
    height:180px;
    background:#c00274;
    top:8300px;
    left:50px;
}
.blur13{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:9000px;
    right:50px;
}
.blur14{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:9000px;
    right:50px;
}
.blur15{
    width:180px;
    height:180px;
    background:#009532;
    top:9700px;
    left:50px;
}
.blur16{
    width:180px;
    height:180px;
    background:#0664d6;
    top:10400px;
    right:50px;
}
.blur17{
    width:180px;
    height:180px;
    background:#bc2dff;
    top:11100px;
    left:50px;
}
.blur18{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:12500px;
    right:50px;
}
.blur19{
    width:180px;
    height:180px;
    background:#e900e9;
    top:19200px;
    left:50px;
}
.blur20{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:13900px;
    right:50px;
}
.blur21{
    width:180px;
    height:180px;
    background:#d303a2;
    top:14600px;
   left:50px;
}
.blur22{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:15300px;
    right:50px;
}
.blur23{
    width:180px;
    height:180px;
    background:#ff2dc0;
    top:16000px;
    left:50px;
}
.blur24{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:16700px;
    right:50px;
}
.blur25{
    width:180px;
    height:180px;
    background:#2a0ee0;
    top:17400px;
    left:50px;
}
.blur26{
    width:180px;
    height:180px;
    background:#7d2dff;
    top:180100px;
    right:50px;
}


/* =====================
   TABLET
===================== */

@media(max-width:1024px){

    .case-study{
        padding:60px 30px;
    }

    .case-study h1{
        font-size:2.3rem;
    }

    .gallery-three{
        grid-template-columns:repeat(2,1fr);
    }

    .research-grid{
        grid-template-columns:1fr;
    }

    .gallery-four{
        grid-template-columns:repeat(2,1fr);
    }
}

/* =====================
   GSM
===================== */

@media(max-width:768px){

    .case-study{
        padding:40px 20px;
    }

    .case-study h1{
        font-size:1.8rem;
        text-align:left;
        margin-bottom:70px;
    }

    .case-study section{
        margin-bottom:90px;
    }

    .case-study h2{
        font-size:1.3rem;
    }

    .case-study p,
    .case-study li{
        font-size:.95rem;
    }

    .gallery-three,
    .gallery-four{
        grid-template-columns:1fr;
    }

    .gallery-three img,
    .gallery-four img{
        max-width:280px;
        margin:auto;
    }

    .wireframe-container img{
        width:100%;
    }
}


/* ======================
CASE STUDY kattencafé
====================== */

.case-study{
max-width:1200px;
}

.case-study section{
max-width:900px;
margin:0 auto 140px auto;
padding:0 20px;
}

/* ======================
HEADER
====================== */
.page-header{
    width:100%;
}

.navbar{
    width:100%;
    padding:40px 100px;
}

.nav-links{
    margin-left:auto;
}

.logo{
    text-decoration:none;
    color:#222;
    font-size:2rem;
    font-weight:600;
}
.nav-links a{
    text-decoration:none;
    color:#444;
    font-size:1.2rem;
    transition:.3s;
}

.nav-links a:hover{
    color:#000;
}
.hamburger{
    display:none;
    cursor:pointer;
    font-size:2rem;
}
.mobile-menu{
    display:none;
}

.mobile-menu.active{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin:0 20px 30px;
    padding:20px;
    background:#9722d6;
    border-radius:15px;
}

.mobile-menu a{
    text-decoration:none;
    background:white;
    color:#222;
    text-align:center;
    padding:15px;
    border-radius:10px;
}
.project-header{
    text-align:center;
    max-width:900px;
    margin:60px auto 120px;
    padding:0 20px;
}
.project-header h1{
    font-size:3rem;
    font-weight:600;
   margin-bottom:20px;
}
.subtitle{
    font-size:1.2rem;
    color:#0b0000;
    line-height:1.7;
    max-width:700px;
    margin:0 auto;
}
.project-intro{
max-width:900px;
margin:0 auto 140px auto;
padding:0 20px;
}

.project-intro p{
margin-bottom:25px;
}

/* ======================
TYPOGRAFIE
====================== */

.case-study h2{
font-size:1.7rem;
margin-bottom:25px;
}

.case-study h3{
font-size:1.2rem;
margin-bottom:15px;
}
.case-study p{
margin-bottom:20px;
}

.case-study ul{
padding-left:25px;
margin-top:15px;
}

.case-study li{
margin-bottom:10px;
}
/* ======================
HUIDIGE WEBSITE
====================== */

.gallery-three{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:50px;
}
.gallery-three img{
width:100%;
border-radius:12px;
}
/* ======================
RESEARCH
====================== */

.research-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
margin-top:50px;
}

.research-card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:
126
0 5px 25px rgba(0,0,0,.08);
}
.research-card h3{
margin-bottom:20px;
}

/* ======================
WIREFRAMES
====================== */

.wireframe-container{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(240px,1fr));
gap:30px;
margin-top:50px;
}
.wireframe-container img{
width:100%;
border-radius:12px;
}
/* ======================
HIGH FIDELITY
====================== */
.gallery-four{
display:grid;
grid-template-columns:
163
repeat(auto-fit,minmax(220px,1fr));
gap:40px;
margin-top:40px;
}
.gallery-four img{
width:100%;
border-radius:12px;
transition:0.3s;
}
.gallery-four img:hover{
transform:scale(1.03);
}
/* ======================
BLURS
====================== */
.blur{
position:absolute;
border-radius:50%;
filter:blur(100px);
z-index:-1;
}
.blur1{
width:180px;
height:180px;
background:#ac34ff;
right:40px;
top:300px;
}
.blur2{
width:180px;
height:180px;
background:#65e7c0;
left:30px;
top:1300px;
}
.blur3{
width:180px;
height:180px;
background:#9a40ff;
right:40px;
top:2400px;
}
.blur4{
width:180px;
height:180px;
background:#ff54b9;
left:20px;
top:3400px;
}
.blur5{
width:180px;
height:180px;
background:#9a40ff;
right:50px;
top:4700px;
}
.blur6{
width:180px;
height:180px;
background:#9b055d;
left:20px;
top:5800px;
}
/* ======================
TABLET
====================== */
@media(max-width:1024px){
.navbar{
padding:35px;
}
.project-header h1{
font-size:2.5rem;
}
.subtitle{
font-size:1.1rem;
}
.gallery-three{
grid-template-columns:repeat(2,1fr);
}
.research-grid{
grid-template-columns:1fr;
}
.gallery-four{
grid-template-columns:repeat(2,1fr);
}
}

/* ======================
GSM
====================== */
@media(max-width:768px){
.project-header{
margin:80px auto;
text-align:left;
}
.navbar{
padding:25px;
}
.nav-links{
display:none;
}
.hamburger{
display:block;
}
.project-header{
text-align:left;
margin:50px auto 80px;
}
.project-header h1{
font-size:2rem;
line-height:1.3;
}
.subtitle{
font-size:1rem;
margin:0;
}
.project-header h1{
font-size:2rem;
}
.subtitle{
font-size:1rem;
}
.case-study section{
margin-bottom:90px;
}

.case-study h2{
font-size:1.35rem;
}

.case-study p,
.case-study li{
font-size:0.95rem;
}
.gallery-three,
.gallery-four{
grid-template-columns:1fr;
}
.wireframe-container{
grid-template-columns:1fr;
}
.gallery-three img,
.gallery-four img,
.wireframe-container img{
max-width:320px;
margin:auto;
}
.research-card{
padding:20px;
}
}